---
import siteData from '../../data/siteData.json';
import { getImage } from 'astro:assets';

const { title = siteData.title, description = siteData.description, image = siteData.image, url, frontmatter, robots } = Astro.props;

const ogImage = image?.src ? await getImage({src: image.src, width: 1200, height: 630}) : null;
---

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={url || siteData.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{ogImage && <meta property="og:image" content={ogImage.src} />}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={url || siteData.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
{ogImage && <meta property="twitter:image" content={ogImage.src} />}

<!-- Language -->
<meta property="og:locale" content={siteData.language} />

<!-- Author -->
<meta name="author" content={siteData.author.name} />

<!-- Robots -->
{robots && <meta name="robots" content="noindex, nofollow" />}