---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/card-pic4.png";
import c5 from "../../assets/pics/card-pic5.png";
import c6 from "../../assets/pics/card-pic6.png";

const cards = [
  {
    index: 1,
    titleTop: "SEO",
    titleBottom: "Optimizacija",
    img: c1,
    alt: "SEO",
    link: "https://google.com",
  },
  {
    index: 2,
    titleTop: "Plaćeno oglašavanje",
    titleBottom: "na društvenim mrežama",
    img: c2,
    alt: "Plaćeno oglašavanje na društvenim mrežama",
    link: "https://google.com",
  },
  {
    index: 3,
    titleTop: "Marketing na",
    titleBottom: "društvenim mrežama",
    img: c3,
    alt: "Marketing na društvenim mrežama",
    link: "https://google.com",
  },
  {
    index: 1,
    titleTop: "Email",
    titleBottom: "Marketing",
    img: c4,
    alt: "Email Marketing",
    link: "https://google.com",
  },
  {
    index: 2,
    titleTop: "Kreiranje",
    titleBottom: "sadržaja",
    img: c5,
    alt: "Kreiranje sadržaja",
    link: "https://google.com",
  },
  {
    index: 3,
    titleTop: "Analitika i",
    titleBottom: "praćenje",
    img: c6,
    alt: "Analitika i praćenje",
    link: "https://google.com",
  },
];

const description =
  "U agenciji 'Ključna Reč' nudimo razne usluge koje pomažu biznisima da rastu online. Evo šta možemo da uradimo za vas:";
---

<Section id="services">
  <div class="mt-[140px] mb-5">
    <SectionTitle sectionTitle="Usluge" description={description} />
    <div class="grid lg:grid-cols-2 lg:grid-rows-3 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
          />
        ))
      }
    </div>
  </div>
</Section>
