---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";

const description = "Upoznajte naš mali ali moćni tim";

import p1 from "../../assets/pics/profile-pic.png";
import p2 from "../../assets/pics/profile-pic2.png"; // Maza
import p3 from "../../assets/pics/profile-pic3.png";
import p4 from "../../assets/pics/profile-pic4.png";

const tim = [
  {
    pic: p1,
    name: "Milica Jovanović",
    role: "Stručnjak za društvene mreže i grafički dizajner",
    description:
      "Kreiram vizuelne sadržaje koji pričaju vašu priču i pomazem vam da privučete pažnju vaše publike na društvenim mrežama. Kreativni dizajn, dinamične kampanje i SEO optimizacija su moj glavni fokus.",
    link: "https://www.linkedin.com/in/milica-jovanovi%C4%87-372693240/",
  },
  {
    pic: p4,
    name: "Katarina Andrejević",
    role: "Mađioničar za pisanu reč",
    description:
      "Preko 10 godina iskustva sa kreiranjem i uređivanjem sadržaja za web i newsletter-e.",
    link: "https://www.linkedin.com/in/kandrejevic/",
  },
  {
    pic: p3,
    name: "Milica Maksimović",
    role: "Strateg",
    description:
      "Biznis razvoj i marketing su njen glavni fokus. Kao strateg, ona pomaže klijentima da razumeju svoje klijente i konkurenciju, a zatim kreiraju efikasne marketing strategije.",
    link: "https://www.linkedin.com/in/maksimovic-m/",
  },
  {
    pic: p2,
    name: "Maza",
    role: "Kontrolor kvaliteta i glavni motivator",
    description:
      "Nepogrešiva kada je reč o kvalitetu — ako nešto nije u skladu sa najvišim standardima, Maza reži na nas. Takođe, ona je stručnjak za podizanje morala tima i smanjenje stresa u kancelariji.",
    link: "https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExdWloazYzdWZmb2NjcWpjeHZkbzdjeWtqMDNrZXd5NXFwcWx1MXZkdCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/y853jRq5TrMHVGn4nl/giphy.webp",
  }
];
---

<Section id="about">
  <div class="mt-[140px]">
    <SectionTitle sectionTitle="Tim" description={description} />
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10"
    >
      {
        tim.map((member, index) => (
          <TeamCard
            key={index}
            pic={member.pic}
            name={member.name}
            role={member.role}
            description={member.description}
            link={member.link}
          />
        ))
      }
    </div>
  </div>
</br>
</Section>
